@model IEnumerable<PirateBackend.Models.AthleticEvent>
@{
    ViewBag.Title = "Home";
}
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        //This is to enable security, however security seems to break use
        @*@functions
        {
            public string TokenHeaderValue()
                {
                    string cookieToken, formToken;
                    AntiForgery.GetTokens(null, out cookieToken, out formToken);
                    return cookieToken + ":" + formToken;
                }
        }*@ 

        function AthleticEventsViewModel() {
            var self = this;
            self.athleticEvents = ko.observableArray([]);
            self.addAthleticEvent = function () {
                $.post("api/athleticEvent",
                    $("#addAthleticEvent").serialize(),
                    function (value) {
                        self.athleticEvents.push(value);
                    },
                    "json");
            }
            self.removeAthleticEvent = function (athleticEvent) {
                $.ajax({
                    type: "DELETE",
                    url: athleticEvent.Self,
                    success: function () {
                        self.athleticEvents.remove(athleticEvent);
                    }
                });
            }

            $.getJSON("api/athleticEvent", function (data) {
                self.athleticEvents(data);
            });
        }
        ko.applyBindings(new AthleticEventsViewModel());
    </script>
}
<ul id="athleticEvents" data-bind="foreach: athleticEvents">
    <li class="ui-widget-content ui-corner-all">
        <h1 data-bind="text: AthleticEventType" class="ui-widget-header"></h1>
        <div><span data-bind="text: $data.AthleticEventDescription || 'Description?'"></span></div>
        <div>
            <span data-bind="text: $data.AthleticEventDateTime || 'Date/Time?'"></span>
            <span data-bind="text: $data.AthleticEventLocation || 'Location?'"></span>
            <span data-bind="text: $data.AthleticEventOpponent || 'Opponent?'"></span>
        </div>
        <p><a data-bind="attr: { href: Self }, click: $root.removeAthleticEvent" class="removeAthleticEvent ui-state-default ui-corner-all">Remove</a></p>
    </li>
</ul>
<form id="addAthleticEvent" data-bind="submit: addAthleticEvent">
    <fieldset>
        <legend>Add New AthleticEvent</legend>
        <ol>
            <li>
                <label for="AthleticEventType">AthleticEventType</label>
                <input type="text" name="AthleticEventType" />
            </li>
            <li>
                <label for="AthleticEventDescription">AthleticEventDescription</label>
                <input type="text" name="AthleticEventDescription">
            </li>
            <li>
                <label for="AthleticEventDateTime">AthleticEventDateTime</label>
                <input type="datetime-local" name="AthleticEventDateTime" />
            </li>
            <li>
                <label for="AthleticEventLocation">AthleticEventLocation</label>
                <input type="text" name="AthleticEventLocation" />
            </li>
            <li>
                <label for="AthleticEventOpponent">AthleticEventOpponent</label>
                <input type="text" name="AthleticEventOpponent" />
            </li>
        </ol>
        <input type="submit" value="Add" />
    </fieldset>
</form>